body{
    margin: 0%;
    height: 100%;
    width: 100%;
    background-color: rgba(64,150,238,1);
}
#top{
    background: linear-gradient(to bottom, rgba(122,188,255,1) 3%,rgba(96,171,248,1) 21%,rgba(64,150,238,1) 77%);
    position: absolute;
    width: 100%;
    height: 120px;
}
#top h1{
    text-align: center;
    font-size: 50px;
}
#buttonAddNote{
    position: relative;
    border: 6px solid green;
    width: 120px;
    height: 50px;
    text-align: center;
    background-color: white;
    font-weight: 900;
    top: 200px;
    left: 50px;
}
#popUpWindowWithForm{
    position: absolute;
    border: 5px solid black;
    width: 50%;
    height: 50%;
    background-color: blueviolet;
    left:50%;
    margin-left:-25%;
    display: none;
    z-index: 15;
}
form{
    position: static;
}
form input{
    display: block;
    margin: 50px;
}

#tasks{
    /* border: 4px solid red; */
    position: relative;
    height: auto;
    width: 450px;
    margin: auto;
    top:300px;
    padding: 15px;
    line-height: 50%;
}
.task{
    /* border: 4px solid blue; */
    margin: 15px;
    padding: 15px;
    background-color: aliceblue;
    position: relative;
}
.exit1, .exit2{
    width: 20px;
    height: 5px;
    position: relative;
    background-color: black;
}
.exit1{
   transform: rotate(45deg);
}
.exit2{
    transform: rotate(-45deg);
    bottom: 5px;
}
.exitbutton{
    right: 0px;
}
.pinontop{
    position: relative;
    margin-left: 300px;
    border: 3px solid orangered;
    padding: 2px;
    width: 80px;
    height: 40px;
    line-height: 20px;
    font-weight: 900;
    background-color: burlywood
}
.task:first-child{
    border: 6px solid red;
    margin-bottom: 15px;
}